header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  background-color: blueviolet;
  color: white;
}

.nav-items {
  display: flex;
}

button {
  color: white !important;
}
