<div class="flex items-center gap-3 text-lg">
  <input
    type="checkbox"
    [checked]="todo().done"
    (change)="toggleTodo(todo())"
  />
  <div class="flex items-center">
    <p [class]="{ 'line-through': todo().done }">
      {{ todo().title }} | <span>{{ todo().description }}</span> |
      <span>{{ todo().dueDate | date : "shortDate" }}</span> |
      <span>{{ todo().dueTime | date : "shortTime" }}</span>
      | <span>{{ todo().email }}</span>
    </p>
    <button mat-icon-button (click)="editTodo(todo())">
      <mat-icon fontIcon="edit"></mat-icon>
    </button>
    <button mat-icon-button (click)="deleteTodo(todo())">
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
  </div>
</div>
