mat-card {
  margin-bottom: 8px;
}

mat-card-header {
  display: flex;
  justify-content: end;
}

mat-card-content {
  display: flex;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  span {
    padding-bottom: 12px;
  }
  .title {
    font-size: large;
    font-weight: 600;
  }
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  width: 80px;
  height: 80px;
}
