<div class="flex justify-center">
  <mat-card class="h-[30rem] w-[30rem] p-4">
    <h3 class="text-xl font-bold text-center py-4">Tic Tac Toe</h3>

    @if (winner) {
    <h4 class="text-lg font-bold text-center text-green-400">
      Winner: {{ winner }}
    </h4>
    } @else {
    <h4 class="text-lg font-bold text-center text-red-300">
      Current Player: {{ currentPlayer }}
    </h4>
    }
    <div class="p-4">
      @for (row of board; track $index; let rowIndex = $index) {
      <div class="flex justify-center">
        @for (cell of row; track $index; let colIndex = $index) {
        <button
          mat-raised-button
          color="primary"
          [disabled]="cell || winner"
          (click)="makeMove(rowIndex, colIndex)"
        >
          {{ cell }}
        </button>
        }
      </div>
      }
    </div>
    <div class="flex justify-center">
      <button mat-raised-button color="accent" (click)="resetGame()">
        Reset
      </button>
    </div>
  </mat-card>
</div>
